

:root {
  --primary-color: #2196F3;
  --secondary-color: #007cae;
  --complimentary-color: #88BFB5;
  --contrast-color: #F2E527;
  --light-color: #ddd;
}

body{
  transition: 0.5s;

}
.navbar-light .navbar-nav .nav-link {
    transition: 0.5s;
  }

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--primary-color);
    font-size: 19px;
  }

  .navbar-dark .navbar-nav .nav-link{
    transition: 0.5s;
  }


  .navbar-dark .navbar-nav .nav-link:hover{
    color:var(--primary-color);
    font-size: 20px;
  }
  
  .contenedorImg{
    position: relative;
    background-image: url(../Imagenes/Salon.jpg);
    background-size:cover;
    min-height: 400px;
}
.background-overlay{
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 400px;
}

.background-overlay H1{
  font-size: 55px;
}


.background-overlay P{
  font-size: 20px;
}

.contenedorImg .content {
    position: absolute;
    bottom: 0;
    top:0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
   
  }


  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }

  .btn .btn-outline-primary{
      transition: 0.5s;
  }

/*Formularios con input dinamico*/

.contendorlogin {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url("/Agendamiento/Assets/Imagenes/Salon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

  .box{
    position: absolute;
    top: 56%;
    left: 50%;
   transform: translate(-50%,-50%);
    width: 60%;
   background-color: #FFF;
    /*color: #fff;*/
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}


.box h3{
    margin: 0 0 40px;
    padding: 0;
    color: #007cae;
    text-transform: uppercase;
}


.caja-m {
  padding: 50px 60px;
  margin-top: 20vh;
  -webkit-box-shadow: 10px 10px 26px 12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 26px 12px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 26px 12px rgba(0, 0, 0, 0.75);
   /*background-color: rgba(0, 0, 0, 0.5);*/
  /* transform: translate(-50%,-50%);*/
  color: #fff;

}

.box input{
    padding: 10px 0;
    margin-bottom: 30px;
}

.box select{
  padding: 10px 0;
  margin-bottom: 30px;
}


.box textarea{
    height: 80px;
    padding: 10px 0;
    margin-bottom: 40px;
}

.box input,
.box input[type = "password"],
.box textarea
{
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline:none;
    border:none;
    border-bottom: 2px solid #999;
}


.box select{
  width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline:none;
    border:none;
    border-bottom: 2px solid #999;
}

.box textarea{
    margin-bottom: 20px;

}

.box input[type = "submit"]{
    border-bottom: none;
    cursor: pointer;
    background: #FFFF;
    color:#007cae;
    border: 2px solid #007cae;
    margin-bottom: 0;
    text-transform: uppercase;
    transition: 0.5s;
}

.box input[type = "submit"]:hover{
  border-bottom: none;
  cursor: pointer;
  background: #007cae;
  border: 2px solid #007cae;
  color:#fff;
  margin-bottom: 0;
  text-transform: uppercase;
}

.box form div{
 position: relative;

}

.box form div label{
    position: absolute;
    top:10px;
    left: 0;
    color: #999;
    transition: .5s;
    pointer-events: none;
}


.box input:focus ~ label,
.box textarea:focus ~ label,
.box input:valid ~ label,
.box textarea:valid ~ label

{

top:-10px;
left: 0;
color: #007cae;
font-size: 12px;
font-weight: bold;
}



.box input:focus ,
.box textarea:focus,
.box input:valid,
.box textarea:valid{
    border-bottom:2px solid  #007cae;
}


.caja-m {
 
  padding: 50px 60px;
  margin-top: 20vh;
  -webkit-box-shadow: 10px 10px 26px 12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 26px 12px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 26px 12px rgba(0, 0, 0, 0.75);
  background-color: rgba(248, 248, 248);
 
  /* transform: translate(-50%,-50%);*/
 

}

.caja-m input {
  padding: 10px 0;
  margin-bottom: 30px;
  background-color: transparent;
  
}

.caja-m select {
  padding: 10px 0;
  margin-bottom: 30px;
}


.caja-m textarea {
  height: 80px;
  padding: 10px 0;
  margin-bottom: 40px;
}

.caja-m input,
.caja-m input[type="password"],
.caja-m textarea {
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: none;
  border-bottom: 2px solid  #999;
}


.caja-m select {
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #999;
}

.caja-m textarea {
  margin-bottom: 20px;

}


.caja-m form div {
  position: relative;

}

.caja-m a {
   color:var(--primary-color);
   cursor: pointer;
}

.caja-m form div label {
  position: absolute;
  top: 10px;
  left: 0;
  color: #999;
  transition: .5s;
  pointer-events: none;
}


.caja-m input:focus~label,
.caja-m textarea:focus~label,
.caja-m input:valid~label,
.caja-m textarea:valid~label {

  top: -10px;
  left: 0;
  color: var(--primary-color);
  font-size: 12px;
  font-weight: bold;
}



.caja-m input:focus,
.caja-m textarea:focus,
.caja-m input:valid,
.caja-m textarea:valid {
  border-bottom: 2px solid var(--primary-color);
}


.main-header{
  position: relative;
  /*background-image: url(../Imagenes/Salon.jpg);
  background-size:cover;*/
  min-height: 700px;
  
 



}

#myVideo{
  width: 100%;
}

.main-header2{
  position: relative;
  background-image: url(../Imagenes/salon2.jpg);
  background-size:cover;
  min-height: 100vh;
 
}




.text-info {
  
  color: #007cae;
  border: none;
  text-align: center;
  font-size: 18px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.text-info span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.text-info span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.text-info:hover span {
  padding-right: 25px;
}

.text-info:hover span:after {
  opacity: 1;
  right: 0;
}

.contenedortexto {
  display: flex;
  width: 25%;
  height: 40px;
  margin: auto;
  color: white;
  font-size: 30px;
  line-height: 40px;
  overflow: hidden;

}

.ul {
  list-style: none;
  padding-left: 10px;
  animation: cambiar 6s infinite;
}

.ul,
.p {
  margin: 0px;
}

@keyframes cambiar {
  0% {
      margin-top: 0px;
  }

  20% {
      margin-top: 0;
  }

  25% {
      margin-top: -40px;
  }

  50% {
      margin-top: -40px;
  }

  55% {
      margin-top: -80px;
  }

  80% {
      margin-top: -80px
  }

  ;

  85% {
      margin-top: -40px
  }

  ;

  95% {
      margin-top: -40px
  }

  ;

  100% {
      margin-top: -40px
  }

  ;
}


.btnredes {
  padding: 10px;
  margin: 18px;
  width: 28%;
  border: none;
  color: white;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 5px;
  transition: 0.5s;
}

.btnredes:hover {
  
  background-color: white;
  color: #007cae;
  
}


/*Redes sociales*/

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #c5c3c3;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}


#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:var(--primary-color); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}


.logincontainer {
  width: 100%;
  height: 100vh;
  background-image: url("/Agendamiento/Assets/Imagenes/Barber.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

.form-container {

  padding: 50px 60px;
  margin-top: 20vh;
  -webkit-box-shadow: 10px 10px 26px 12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 26px 12px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 26px 12px rgba(0, 0, 0, 0.75);
 
}

.footer1{
            
  width:100%;
  background-color: black;
  max-height: 400px;
}

.footer2{
            
  width:100%;
  background-color: black;
  max-height: 100px;
}

.loadercont {
 
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(231, 240, 245, 0.5);
  z-index: 30;

}

.imageloader {
  position: absolute;
  top: 200px;
  left: 200px;
  right: 0;
  bottom: 56px;
  transition: 0.5s;
}

.contenedorload {
  position: absolute;
  top: 310px;
  left: 260px;
  right: 0;
  bottom: 56px;
  transition: 0.5s;
}

.lds-grid {
  display: inline-block;
  /* position: relative;*/
  width: 80px;
  height: 80px;
}

.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #111;
  animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}

@keyframes lds-grid {

  0%,
  100% {
      opacity: 1;
  }

  50% {
      opacity: 0.5;
  }
}

/*Menu de opciones */


.sidenav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:var(--primary-color);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.sidenav a:hover {
 font-size: 27px;
 color: black;

}



.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
 
}

.fc-agendaDay-button, .fc-button, .fc-state-default, .fc-corner-left, .fc-corner-right{
  background: #007cae;
  color: #fff;
  border: none;
  transition: 0.3s;
}

.fc-axis .fc-time .fc-widget-content{
  background: #007cae;
}

.fc-state-down, .fc-state-active{
background: #fff;
color: #007cae;
border: 1px solid #007cae;
}

.fc-state-down, .fc-state-active:hover{
  background: #007cae;
  color: #fff;
  border: none;
  }
  

  .fc-unthemed td.fc-today {
    background:rgba(33, 150, 243, .1);
}


.iconr{
 cursor: pointer;
 transition: 0.2s;
}

.iconr:hover{
  border-radius: 50px;
  font-size: 20px;
  background-color: var(--primary-color);
}


#myVideo {
  POSITION: ABSOLUTE;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.map{
  width:100%;
  height: 300px;
  margin:auto;
  
}

.cont {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 500px;


}

.image-responsive {
  POSITION: ABSOLUTE;
  LEFT: 239px;
  MARGIN: 63px;
}


/*Modal para visualizar empleados*/

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 15%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal_empleado {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal_empleado_content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}


.close_modal {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close_modal:hover,
.close_modal:focus {
  color: red;
  cursor: pointer;
}


.contenedor_seguridad{
  width: 100%;
  background-color: #555;
  padding: 3px;
 display: none;
}

.seguridad{
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.short{
  background-color: red;
  width: 30%;
  transition: 2s;
}

.media{
  background-color: #F2E527;
  width: 50%;
  transition: 2s;

}

.large{
  background-color: #4CAF50;
  width: 100%;
  transition: 2s;
}
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
      -webkit-transform: scale(0)
  }

  to {
      -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
      transform: scale(0)
  }

  to {
      transform: scale(1)
  }
}


/*Mediaquerys*/

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {
  .cont{
    display: none;
  }
  .main-header{
    padding:205px;
  }
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
  
}


